
body{
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
}
img{
    max-width: 100%;
}
p, ul, h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}

.df{
    display: flex;
}
.dn{
    display: none;
}
.j-sp-btw{
    justify-content: space-between;
}
.a-center{
    align-items: center;
}
.tc{
    text-align: center;
}
.pa{
    position: absolute;
}
.pr{
    position: relative;
}
.f-column{
    flex-direction: column;
}

.btn{
    min-width: 212px;
    height: 54px;
    padding: 16px 30px;
    border-radius: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D7FF00;
    color: #465232;
    font-size: 16px;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-weight: 800;
}
.btn-light{
    border: 2px solid #D7FF00;
    background: transparent ;
    color: #D7FF00;
}
header{
    background: url('../images/header.png');
    background-size:cover  ;
    font-weight: 600;
}
.work{
    background: url('../images/work.png');
    background-size:cover  ;
    padding-top: 0;
    position: relative;
}
.work .section-title{
    color: #fff;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    top: 70px;
}
.work__col{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    padding: 23px 100px;
    background: rgba(0, 0, 0, 0.5);
}
.contact__block{
    gap: 40px;
    justify-content: flex-end;
}
.contact__block p{
    color: #fff;
}
.menu{
    gap: 40px;
}

.menu__link{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.header-right{
    gap: 26px;
}
.banner{
    padding-top: 140px;
    padding-bottom: 279px;
    color: #fff;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1064px;
    margin: 0 auto;
    text-align: center;
}
.banner h1{
    font-size: 58px;
    line-height: 69px;
    margin-bottom: 10px;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
}
.banner p{
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 30px;
}
.banner .btn{
    font-size: 18px;
}
.about{
    padding-top: 140px;
    background: url('../images/lime.svg') no-repeat;
    background-position: 0 70%;
}
.landing{
    background: url('../images/lime.svg') no-repeat;
    background-position: left 35%;
}
.section-title{
    text-align: center;
    font-size: 48px;
    line-height: 57px;
    margin-bottom: 30px;
}
.about__img{
    max-width: 1100px;
    margin: 0 auto;
    gap: 50px;
}

.about__info{
    max-width: 1100px;
    margin: 30px auto 50px;
    font-size: 18px;
    color: #41443D;
    line-height: 21px;
    text-align: center;

}

.about__map{
    max-width: 1100px;
    margin: 0 auto;
}

.review{
    padding-top: 140px;
    padding-bottom: 140px;
    position: relative;

}
.review:before{
    content: '';
    position: absolute;
    background: url('../images/review.svg') no-repeat;
    background-position: center top;
    width: 784px;
    height: 784px;
    bottom: 0;
    margin: 0 auto;
    left: 30%;

}
.review__list{
    max-width: 1100px;
    margin: 0 auto;
    gap: 50px;
}
.review__item h4{
    font-size: 28px;
    line-height: 38px;
    color: #2E302C;
    margin-top: 30px;
}
.review__item a{
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 238px;
    height: 238px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.review__item a:before{
    content: '';
    position: absolute;
    display: flex;
    background: url('../images/play.svg');
    width: 60px;
    height: 60px;
}

.features{
    padding-bottom: 25px;
}
.features .section-title{
    text-align: left;
}

.features__left{
    width: 50%;
    background: url('../images/features__left.svg') no-repeat;
    background-position: right top;
    height: 435px;
}
.features__right{
    width: 50%;
    background: url('../images/features.svg') no-repeat;
    background-position: left top;
}
.features__right ul{
    display: flex;
    position: relative;
    height: 303px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 23px;
}
.features__right li{
    padding: 20px 50px;
    font-size: 18px;
    color: #fff;
    border-radius: 60px;
    box-sizing: border-box;
    text-align: center;
}
.features__right li:first-child{
    background: #6294E7;
    width: 292px;

}
.features__right li:nth-child(2){
    width: 247px;
    background: #f05157;
    transform: rotate(352deg);
    left: 292px;
}
.features__right li:nth-child(3){
    width: 275px;
    background: #7157E9;
    transform: rotate(7deg);
    left: 30px;
    top: 90px;
}
.features__right li:nth-child(4){
    width: 191px;
    background: #F61AC6;
    transform: rotate(0);
    left: 344px;
    top: 98px;
}
.features__right li:nth-child(5){
    width: 626px;
    background: #F3761B;
    left: 96px;
    top: 178px;
}
.features__right li:nth-child(6){
    width: 371px;
    background:#52DA4F;
    bottom: -32px;
}
.features__right li:nth-child(7){
    width: 296px;
    background:#F3AA1B;
    bottom: -35px;
    right: 263px;
    transform: rotate(351deg);
}
.responsibilities__left{
    width: 1100px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 60px 0;
    position: relative;
}
.responsibilities__right{
    width: 453px;
    height: 457px;
    background: url('../images/resposibilites__right.svg') no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
}
.responsibilities{
    background: #F9FFF3;
    position: relative;
}
.responsibilities .section-title{
    text-align: left;
}
.responsibilities ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.responsibilities ul li{
    font-size: 18px;
    color: #2E302C;
    position: relative;
    padding-left: 35px;
}
.responsibilities ul li:before{
    content: '';
    width: 30px;
    height: 3px;
    background: #D7FF00;
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 8px;
}
.service{
    padding: 140px 0;
}

.service p{
    font-size: 30px;
    color: #2E302C;
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgba(255, 255, 255, 0.9);
    left: 0;
}
.service__list{
    gap: 40px;
    width: 100%;
    height: 363px;
}
.slick-list{
    padding: 0 20% 0 0 !important;
}

.service__item{
    width: 360px!important;
    height: 360px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}

.news{
    padding-top: 140px;
    padding-bottom: 140px;
}

.news__item{
    width: 360px!important;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}

.news__item h4{
    font-size: 20px;
    color: #2E302C;
    margin-top: 20px;
}
.news__item p{
    font-size: 16px;
    color: #2E302C;
    margin-top: 6px;
    margin-bottom: 6px;
}
.news__item span{
    font-size: 16px;
    color: #8F8F8F;

}
.news__list{
    height: 533px;
    margin-top: 30px ;
}
footer{
    background: #212121;
    padding-top: 70px;
}

.footer__content{
    width: 1100px;
    margin: 0 auto;
    padding-bottom: 36px;
    box-sizing: border-box;
    border-bottom: 1px solid #D9D9D9;
}

.footer__menu ul{
    width: 222px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 45px;
    display: flex;
}
.footer__menu ul li{
    font-size: 16px;
    width: 88px;
}

.contacts{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    font-size: 16px;
}
.contacts div{
    display: flex;
    align-items: center;
    gap: 8px;
}
.copyright{
    color: #fff;
    justify-content: center;
    font-size: 16px;
    padding: 30px 0 20px;
}

.contact{
    padding: 140px 0;
    background: linear-gradient(90deg, #A18CD1 0%, #FBC2EB 100%);
    margin-bottom: 140px;
    position: relative;
}
.contact .section-title{
    color: #fff;
}
.contact__form{
    max-width: 1100px;
    margin: 0 auto;

}
.contact__form:before{
    content: '';
    background: url('../images/contact.svg') no-repeat;
    background-position: right bottom;
    position: absolute;
    width: 650px;
    height: 615px;
    bottom: 0;
    right: 279px;
}

.form__row {
    width: 500px;
}
.form__row label{
    color: #fff;
    font-size: 20px;
    background: url('../images/file.svg') no-repeat;
    padding-left: 40px;
}
input{
    width: 100%;
    color: #fff;
    border: 2px solid #fff;
    padding: 18px 30px;
    border-radius: 120px;
    margin-bottom: 30px;
    background: transparent;
    box-sizing: border-box;
    font-size: 20px;
}
::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
    color: #fff;

}

.counter{
    background: linear-gradient(90deg, #A18CD1 0%, #FBC2EB 100%);
    padding: 140px 0 91px;
    color: #fff;
    position: relative;
}

.counter:before{
    content: '';
    background: url('../images/title.svg');
    background-position: top center;
    width: 968px;
    height: 377px;
    position: absolute;
    top: 0;
    transform: translate(-50%);
    left: 50%;

}
.counter:after{
    content: '';
    background: url('../images/call.svg');

    width: 453px;
    height: 540px;
    position: absolute;
    bottom: 0;

    right: 93px;

}
.counter p{
    text-align: center;
    font-size: 28px;
    margin-bottom: 34px;
}

.counter-block{
    background: #8D7BDE;
    width: 638px;
    border-radius: 20px;
    display: flex;
    gap: 50px;
    padding: 20px 40px;
    box-sizing: border-box;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 50px;
}

.counter__item{
    display: flex;
    flex-direction: column;
    font-size: 24px;
}
.counter__item span{
    font-size: 62px;
}

.step__list{
    width: 909px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 56px;
}
.step__list:before{
    content: '';
    background:url("../images/up.svg");
    width: 330px;
    height: 264px;
    position: absolute;
    bottom: 0;
    left: 125px;
}
.step{
    position: relative;
    font-size: 20px;
}
.step:last-child:before{
    content: '';
    background: url('../images/traced.svg');
    width: 73px;
    height: 73px;
    position: absolute;
    right: 30px;
    top: -48px;
}
.step:after{
    content: '';
    width: 89px;
    height: 16px;
    position: absolute;
    right: -80px;
    top: 24%;
    z-index: 0;
}
.step:first-child:after{
    background: url('../images/arrow1.svg');

}
.step:nth-child(2):after{
    background: url('../images/arrow2.svg');
    width: 115px;
    right: -88px;

}
.step:nth-child(3):after{
    background: url('../images/arrow3.svg');
    width: 121px;

}
.step:nth-child(4):after{
    background: url('../images/arrow4.svg');
    width: 128px;
    right: -98px;

}
.step:last-child:after{
    display: none;
}
.step img{
    position: relative;
    z-index: 1;
}
.owl-stage{
    display: flex;
}

.login__popup, .cv__popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.6);
    align-items: center;
    justify-content: center;
    display: none;
}


.popup__content{
    width: 800px;
    background: #fff;
    padding: 106px 120px 40px;
    box-sizing: border-box;
    border-radius: 40px;
    position: relative;

}

.popup__content .form__row{
    width: 100%;
}

.popup__content .form__row label{
    color: #000000;
    font-size: 20px;
    display: flex;
    padding-left: 0;
    background: none;
    align-items: center;
}
.popup__content input{
    border-color: #000000;
    width: 100%;
}
.popup__content input[type="checkbox"]{
   width: 24px;
    height: 24px;
    margin-bottom: 0;
    margin-right: 6px;
    border: 2px solid #D9D9D9;
    box-sizing: border-box;

}
.close__popup{
    width: 50px;
    height: 50px;
    background: url("../images/close.png");
    position: absolute;
    right: 40px;
    top: 40px;
}

.popup__content ::placeholder {
    color: #000;
    opacity: 1; /* Firefox */
}

.popup__content ::-ms-input-placeholder { /* Edge 12 -18 */
    color: #000;

}
.popup__content select{
    border-color: #000000;
    width: 100%;
    border-radius: 120px;
    margin-bottom: 30px;
    background: transparent;
    box-sizing: border-box;
    font-size: 20px;
    padding: 18px 30px;
    border: 2px solid;
}
.cv__popup .btn{
    width: 100%;
}

@media screen and (max-width: 1800px){
    .contact__form:before, .counter:after{
        right: 0;
    }
    .step__list:before{
        left: 50px;
    }
    .service__list{
        height: 359px;
    }
}

@media screen and (max-width: 1400px){
    .features__right li:nth-child(6){
        width: 280px;
    }
    .features__right li{
        padding: 20px 18px;
        font-size: 16px;
    }
    .features__left{
        width: 40%;
    }
    .features__right{
        width: 60%;
    }
    .contact__form:before{
        width: 500px;
        height: 500px;
        background-size: 100%   ;
    }
    .footer__menu ul li{
        width: 105px;
    }
    .footer__menu ul{
        width: 300px;
    }
}
@media screen and (max-width: 1024px){
    .about__img{
        max-width: 80%;
        gap: 20px;
        justify-content: space-between;
    }
    .about__img img{
        width: 150px;
    }
    .about__info, .about__map{
        max-width: 80%;
    }
    .review__list{
        max-width: 80%;
        gap: 30px;
    }
    .review__item a{
        width: 167px;
        height: 167px;
    }
    .review__item h4{
        font-size: 20px;
    }
    .review:before{
        left: 50%;
        transform: translate(-50%);
    }
    .features__left{
        display: none;
    }
    .features__right{
        width: 100%;
        padding-left: 40px;
        box-sizing: border-box;
    }
    .responsibilities__right{
        width: 300px;
        height: 300px;
        background-size: 100%;
    }
    .responsibilities__left{
        max-width: 80%;

    }
    .footer__content{
        max-width: 80%;
    }
    .contact__form{
        width: 80%;
    }
    .contact__form:before{
        width: 300px;
    }
    .counter:after{
        display: none;
    }
    .step__list:before{
        display: none;
    }
    nav{
        padding-left: 40px;
        padding-right: 40px;
    }
    .review__item img{
        width: 168px;
    }
    .counter:before{
        width: 100%;
    }
    .step__list{
        width: 100%;
        gap: 20px;
    }
    .step:last-child:before{
        display: none   ;
    }

    .logo-img img{
        width: 70%;
    }


}

@media screen and (max-width: 768px){
    .popup__content{
        width: 100%;
        padding: 40px;
        overflow: auto;
        height: 100%;
    }
    .close__popup{
        width: 20px;
        height: 20px;
        background-size: 100%;
    }
    .popup__content .form__row:last-child{
        flex-direction: column;
        gap: 20px;
    }
    .banner h1{
        font-size: 40px;
    }
    .banner h1{
        font-size: 40px;
    }
    .banner{
        padding: 60px 0;
    }
    .banner p{
        font-size: 24px;
    }
    .about{
        padding-top: 60px;
    }
    .about__img{
        max-width: 90%;
    }
    .about__info, .about__map{
        max-width: 90%;
    }
    .review__item{
        width: 50%;
        margin-bottom: 20px;
    }
    .review__list{
        flex-wrap: wrap;
        gap: 0;
    }
    .section-title{
        font-size: 30px;
        max-width: 90%;
        line-height: 34px;
        margin-left: auto;
        margin-right: auto;
    }
    .review:before{
        display: none;
    }
    .review{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .responsibilities__right{
        width: 200px;
    }
    .service{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .step__list{
        flex-wrap: wrap;
        width: 90%;
        align-items: center;
        justify-content: center;
    }
    .step{
        width: 30%;
    }
    .step:after{
        display: none;
    }
    .counter-block{
        max-width: 80%;
    }
    .counter__item span{
        font-size: 40px;
    }
    .contact__form:before{
        display: none;
    }
    .footer__content{
        flex-wrap: wrap;
    }
    .footer__menu{
        width: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .contacts {
        width: 100%;
    }
    .counter:before{
        width: 100%;
    }
    .about__img{
        flex-wrap: wrap;
        justify-content: center;
    }
    .about__img img {
        width: auto;
    }
    .features__right ul{
        height: auto;
    }
    .contact{
        padding: 60px 0;
    }
    .news{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .menu__icon{
        display: block;
    }
    .contact__block{
        order: 2;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header__menu{
        flex-wrap: wrap;
    }
    .menu{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .header-left{
        width: 100%;
        display: flex;
        justify-content: space-between;


    }

    header .logo{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

    }
    .header-right{
        width: 100%;
        display: none;
    }
    .menu__icon img{
        width: 30px;
    }
    .header-right.show{
        display: flex;
    }
}
@media screen and (max-width: 600px){
    .counter__item{
        font-size: 16px;
    }
    .counter__item{
        width: 100%;
        text-align: center;
    }
    .counter-block{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .form__row{
        width: 100%;
    }
    .banner h1{
        font-size: 30px;
        line-height: 35px;
    }
    .banner p {
        font-size: 18px;
        line-height: 24px;
    }
    .responsibilities__right{
        display: none;
    }
    .contact__form .form__row:last-child{
        flex-direction: column;
        gap: 20px;
    }
    .contact{
        margin-bottom: 60px;
    }
    .about__img img{
        width: 100px;
    }
    .review__item a{
        width: 100px;
        height: 100px;
    }
    .review__item img{
        width: 100px;
    }
}